textarea {
  width: 90%;
  height: 70vw;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  margin: auto;
  resize: none;
  font-family: monospace;
  font-size: larger;
}

header {
  padding: 20px;
}

#note-title-input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;

  display: flex;
  margin: auto;
} 
